$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.button {
  width: 250px;
  height: 100px;
  padding: 9px 20px;
  border: 1px solid;
  font: Helvetica, serif;
  font-size: 34px;
  color: #000;
  text-align: center;
  background: #e4245b;
  border-radius: 12px;
}
